<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

<div class="container">
    <header>
        
        <p></p>

        <div>
            <p><img src="assets/images/logo.png" class="logo"><strong class="seedFlowNazva">Seed Flow</strong></p>
        </div>
    
     
        <div class="language-switcher" style="color: #898268;"><img src="assets/images/language.png" class="logo2">

          <mat-select [formControl]="selectedLanguage" style="width: 55px;" (selectionChange)="onLanguageChange($event)">
            <mat-option style="font-family: 'Montserrat';" *ngFor="let lang of languages" [value]="lang.code">
              {{ lang.name }}
            </mat-option>
          </mat-select>
      </div>    
    
    </header>

<hr style="width: 99%; margin-top: -15px;">

<hr style="border-top: 2px solid #ffcf33;width: 30%;margin-top: 20px;justify-content: left;position: relative;margin-left: 10px;">

    <div class="registration-form">
      <div class="left-panel">
      </div>
      <div class="right-panel">
        <h2 class="passReset">{{"СКИДАННЯ ПАРОЛЯ" | transloco }}</h2>
        
          <form [formGroup]="emailForm" (ngSubmit)="sendCode()">
            <div class="form-group">
              <label for="email" style="font-family: 'Montserrat';font-size: larger; position: relative; top: 0px;">{{ "Введіть ваш email" | transloco }}</label>
              <input id="email" type="email" formControlName="email" required placeholder='{{"Введіть email" | transloco }}'
                class="form-control">
            </div>
  
            <div class="error" *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)">
              <span *ngIf="emailForm.get('email')?.errors?.['required']" class="inputCode">{{ "Введіть ваш email" | transloco }}</span>
              <span *ngIf="emailForm.get('email')?.errors?.['email']" class="inputCode">{{ "Введіть правильний email" | transloco }}</span>
            </div>
  
            <button type="submit" [disabled]="emailForm.invalid" style="margin-bottom: 30px; position: relative; top:-25px; background: none; border: none; color: #247A60; font-family: 'Montserrat'; font-size: 16px; cursor: pointer; left: 225px; font-weight: 500;">{{ "Відправити код" | transloco }}</button>

            <div *ngIf="isLoading">
              <p style="position: relative; top: -40px; font-family: 'Montserrat'; font-weight: 600; font-size: 16px;">{{ "Надсилання коду..." | transloco }}</p>
            </div>
          </form>
        
        <div *ngIf="isCodeSent" class="confirmation-message">
          <p style="font-weight: 600; font-size: 16px; position: relative;top: -40px; font-family: 'Montserrat'; width: 400px; left:5px;">{{"На вашу адресу електронної пошти було надіслано код для скидання пароля" | transloco }}</p>
        </div>

        <form [formGroup]="codeForm" #myForm="ngForm" (ngSubmit)="verifyCode()">          
          <div class="form-group">  
            <label for="code" style="font-family: 'Montserrat';font-size: larger; position: relative;">{{"Код підтвердження" | transloco }}</label>
            <br>
            <input id="code" type="text" formControlName="code" name="code2" ngModel required placeholder='{{"Введіть код підтвердження" | transloco }}' style="width: 375px; height: 35px;font-size: 15px; background-color: #eaede3; margin-top: 10px;border: none;border-radius: 5px; font-family: 'Montserrat';" class="form-control" />
          </div>
           
            <div class="error" *ngIf="code?.invalid && (code?.dirty || code?.touched) && code?.value?.length === 6">
              <span *ngIf="code?.errors?.['required']" style="color: red; top: -15px;position: relative;font-family: 'Montserrat'" class="inputCode">{{"Введіть код підтвердження" | transloco }}</span>
            </div>
          
            <br>
            <br>
            <br>
            <br>
            <br>
      
            <a href="#" style="text-decoration: underline; color:#898268; font-family: 'Montserrat';position: relative; width: 180px; top: -60px;">{{"Виникли проблеми?" | transloco }}</a>
         
            <div *ngIf="errorMessage" class="error-message">
              {{ errorMessage | transloco }}
            </div>

          <button type="submit" [disabled]="codeForm.invalid" style="position: relative; margin-left:260px; top:-90px; width: 120px;background-color: #247A60;font-family: 'Montserrat';">{{"Далі" | transloco }}</button>
        </form>

      </div>

    </div>

    <hr style="border-top: 2px solid #ffcf33;width: 30%;margin-top: 115px;justify-content: left;position: relative;margin-right: 5px;">

  </div>

