<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

<div class="container">
    <header>
        
        <p></p>

        <div>
            <p><img src="assets/images/logo.png" class="logo"><strong class="seedFlowNazva">Seed Flow</strong></p>
        </div>
    
     
        <div class="language-switcher" style="color: #898268;"><img src="assets/images/language.png" class="logo2">

          <mat-select [formControl]="selectedLanguage" style="width: 55px;" (selectionChange)="onLanguageChange($event)">
            <mat-option style="font-family: 'Montserrat';" *ngFor="let lang of languages" [value]="lang.code">
              {{ lang.name }}
            </mat-option>
          </mat-select>
      </div>    
    
    </header>

<hr style="width: 99%; margin-top: -15px;">

<hr style="border-top: 2px solid #ffcf33;width: 30%;margin-top: 20px;justify-content: left;position: relative;margin-left: 10px;">



    <div class="registration-form">
      <div class="left-panel">
      </div>
      <div class="right-panel">
        <h2 style="position: relative; margin-top: 0px;margin-bottom: 60px; margin-left: 100px;font-family: 'Montserrat'">{{"РЕЄСТРАЦІЯ" | transloco}}</h2>
        <form [formGroup]="registrationForm" #myForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="confirmationCode" class="verification">{{"Код підтвердження" | transloco}}</label>
            <br>
            <input id="confirmationCode" name="code" type="text" formControlName="confirmationCode" required placeholder="{{'Введіть код підтвердження' | transloco }}" class="input1" />
            <div *ngIf="registrationForm.get('confirmationCode')?.invalid && registrationForm.get('confirmationCode')?.touched" class="inputCode">
              {{"Введіть код підтвердження" | transloco}}
            </div>
          </div>
          <p class="send">{{"Код було надіслано на вашу пошту. Чи не прийшов код?" | transloco }}<a class="sendAgain" href="#" style="color: rgb(34, 136, 231);">{{" Надіслати знову" | transloco }}</a></p>
        
          <br>

          <div class="form-group">
            <label class="name2" for="firstName">{{"Ім'я" | transloco }}</label>
            <br>
            <input id="firstName" name="firstName" type="text" formControlName="firstName" class="firstName" required placeholder='{{"Введіть ім&#39;я" | transloco}}'/>
            <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched" class="symbols2">
              {{"Ім'я має містити щонайменше 2 символи" | transloco }}
            </div>
          </div>
        
          <div class="form-group">
            <label for="lastName" class="lastName2">{{"Прізвище" | transloco }}</label>
            <br>
            <input id="lastName" name="lastName" type="text" class="input2" formControlName="lastName" required placeholder="{{'Введіть прізвище' | transloco }}" />
            <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched" class="symbols22">
              {{"Прізвище має містити щонайменше 2 символи" | transloco }}
            </div>
          </div>

          <section class="example-section" id="checkbox">
            <mat-checkbox class="example-margin" style="margin-left: 40px; ">
              <label style="font-weight: 100; position: relative;font-family: 'Montserrat';font-size: 11px;font-weight: 400;">{{"Я хочу отримувати новини про платформу" | transloco }}</label></mat-checkbox>
          </section>

          <br>
          <br>
          <br>
          <br>

          <a class="problem" href="#">{{"Виникли проблеми?" | transloco}}</a>
        
          <button type="submit" class="dali" [disabled]="registrationForm.invalid">{{"Далі" | transloco }}</button>
        </form>
        

      </div>

    </div>

    <hr style="border-top: 2px solid #ffcf33;width: 30%;margin-top: 115px;justify-content: left;position: relative;margin-right: 5px;">

  </div>