.language-switcher
{
  position: relative;
  left: 22px;
}

.logo2
{
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 50px;
  height: 50px;
}

.header 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  background: #fff;
 

  .header-left {
    display: flex;
    align-items: center;
    gap: 10px;

    .logo {
      width: 30px;
      height: 30px;
    }

    .brand-name {
      font-size: 25px;
      font-weight: 500;
      color: #2e7d32;
      font-family: "Montserrat Alternates";
    }
  }

  .header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .search-input {
      width: 550px;
      padding: 8px 12px;
      border-radius: 20px;
      border: 1px solid #ccc;
      font-size: 14px;
      outline: none;
      transition: 0.3s;

      &:focus {
        border-color: #2e7d32;
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 15px;

    .submit-project-btn 
    {
      width: 160px;
      height: 33px;
      background: transparent;
      border: 1px solid #247a60;
      color: #247a60;
      padding: 6px 12px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
      font-family: 'Montserrat';

      &:hover {
        background: #247a60;
        color: #fff;
      }
    }

    .profile-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.footer 
{
  padding: 40px 0;
  font-family: 'Montserrat', sans-serif;

  .footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .footer-logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
      }

      span {
        font-size: 24px;
        font-weight: 600;
        color: #2e7d32;
      }
    }

    .footer-line {
      flex-grow: 1;
      height: 2px;
      background: #ffcf33;
      border: none;
      margin-left: 20px; /* Отступ от логотипа */
    }
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    margin-top: 20px;

    .footer-column {
      width: 18%;

      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #1b5e20;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          a {
            text-decoration: none;
            color: #333;
            font-size: 14px;
            transition: color 0.3s ease;

            &:hover {
              color: #2e7d32;
            }
          }
        }
      }
    }
  }
}

.footer-social 
{
position: relative;
text-align: center;
top: 20px;
left: -40px;
color: #247A60;
}

.underline-center 
{
display: inline-block;
position: relative;
}

.underline-center::after 
{
content: "";
position: absolute;
left: 50%;
bottom: -10px;
width: 50%;
height: 1px;
background-color: #247A60;
transform: translateX(-50%);
}

.social-icons a 
{
margin: 0 10px;
font-size: 28px;
color: #333;
padding: 4px;
}

.footer-bottom 
{
position: relative;
text-align: center;
margin-top: 70px;
margin-bottom: 40px;
font-size: 15px;
color: #666;
left:-40px;
font-family: 'Montserrat';
}

.search-container 
{
  position: relative;
  width: 1200px;
  font-family: 'Montserrat';
}

.search-input 
{
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  left: 25%;
}

.search-input:focus {
  border-color: #bde7d6;  /* Зеленый цвет рамки */
  background-color: #bde7d6;  /* Светлый голубой фон */
}

.search-dropdown 
{
  position: absolute;
  top: 155%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 800px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
}

.search-item-content 
{
  border: 2px solid #ddd; 
  border-radius: 10px; 
  padding: 4px; 
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 99%; 
}

.search-items 
{
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.search-item 
{
  text-align: left;
  width: 390px; 
  display: flex;
  flex-direction: column; 
  gap: 10px;  
  align-items: flex-start;  
}

.search-item-img 
{
  width: 100%; 
  height: 250px; 
}

.search-item-title 
{
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Montserrat';
}

.search-item-body 
{
  position: relative;
  padding: 15px;
  background-color: white;
  color: black;
  transition: transform 0.3s ease;
}

.search-item:hover .search-item-body,
.search-item:hover .icon-container,
.search-item:hover .icons-container 
{
  transform: translateY(-70px);
}

.search-item:hover 
{
  background-color: white;
}

.search-item-text 
{
  position: absolute;
  bottom: 0px; 
  left: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 10px;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-item:hover .search-item-text 
{
  bottom: 10px;
  opacity: 1;
  transform: translateY(0);
}

.progress-bar 
{
  position: absolute;
  width: 56%;
  height: 8px; 
  border-radius: 5px; 
  appearance: none; 
  background-color: #e0e0e0; 
  margin-top: 8px;
}

.progress-bar::-webkit-progress-bar 
{
  background-color: #e0e0e0; 
}

.progress-bar::-webkit-progress-value 
{
  background-color: #247A60; 
}

.progress-bar::-moz-progress-bar 
{
  background-color: #247A60; 
}

.search-item-info h4 
{
  margin: 0;
  font-size: 14px;
}

.search-item-info p {
  margin: 5px 0 0;
  font-size: 12px;
  color: #777;
}

.search-item-info 
{
  flex-grow: 1;
}

.support-btn 
{
  background-color: #247a60;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.support-btn:hover 
{
  background-color: #247a60;
}

.no-results 
{
  padding: 10px;
  text-align: center;
  color: #999;
}

.button-row 
{
  display: flex;
  justify-content: center; 
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.wide-buttons 
{
  gap: 80px; 
  margin-bottom: 50px;
  margin-top: 20px;
}

.button-row button 
{
  max-width: 350px;
  padding: 8px 43px;
  background-color: #bde7d6;
  color: #333027;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wide-button 
{
  width: 300px;
  height: 45px;
  padding: 12px 20px;
  background-color: #bde7d6;
  color: #333027;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
}

.rounded-button 
{
  padding: 8px 16px;
  width: 195px;
  font-size: 18px !important;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px !important;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
}

button.wide-button.active, button.rounded-button.active 
{
  background-color: #ffcf33;
  color: #247a60;
  font-weight: 550;
}

button.rounded-button:hover 
{
  background-color: #ffcf33;
  color: #247a60;
  font-weight: 550;
}

.hot-projects 
{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.hot-projects-text 
{
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  font-family: 'Montserrat';
  color: #333;
}

.hot-projects-line {
  flex-grow: 1;
  border: none;
  border-top: 3px solid #ffcf33;
  margin-left: 20px;
}

.progress-info 
{
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 200px;
  font-size: 14px;
  color: #333;
  margin-top: -10px;
}

.progress-from 
{
  font-weight: normal;
  font-family: 'Montserrat';
}

.progress-to 
{
  font-weight: 600;
  font-family: 'Montserrat';
}

.icons-container 
{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.7);
  margin-left: 30px;
  font-family: 'Montserrat';
}

.icon-item 
{
  text-align: center;
  flex-basis: 30%;
}

.icon-img 
{
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.icon-number 
{
  margin-top: 5px;
  font-size: 17px;
  color: #333;
  font-weight: 600;
}

.search-item 
{
  position: relative;
}

.icon-container 
{
  position: absolute;
  top: 280px;
  right: 10px;
  cursor: pointer;
}

.search-item-icon 
{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.support-button2 
{
  padding: 8px 16px;
  background-color: #247A60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 130px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  left: -45px;
  font-family: 'Montserrat';
}

.support-button2:hover 
{
  background-color: #247A60;
}

.icon-top-left 
{
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: 10;
}

.top-left-icon
{
  width: 80px;
  height: 40px;
}

.top-right-icon
{
  width:30px;
  height: 30px;
}

.icon-top-right 
{
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 10;
}

// TOVAR PAGE

.custom-container {
    display: flex;
    width: 1280px;
    height: 640px;
    gap: 20px;
    margin-left: 5%;
  }
  
  .custom-left, .custom-right {
    width: 640px;
    height: 640px; 
  }

  .custom-left
  {
    background-color: #bde7d6;
    margin-left: 12%;
    margin-top: 1.6%;
  }
  
  .main-photo {
    width: 410px;
    height: 410px;
    display: block;
    margin: 0 auto 10px;
    cursor: pointer;
    background-color: white;
  }
  
  .photo-row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .small-photo {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-color: white;
  }

  .custom-right {
    padding: 20px;
    position: relative;
  }
  
  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .category-image {
    position: relative;
    width: 200px;
    height: 43px;
  }
  
  .category-image img {
    width: 200px;
    height: 43px;

  }
  
  .category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat';
  }
  
  .heart-icon {
    width: 42px;
    height: 38px;
    cursor: pointer;
    margin-right: 55%;
  }
  
  .product-title {
    font-size: 32px;
    margin-top: 10%;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
  }
  
  .product-size {
    font-size: 24px;
    color: #333;
    font-family: 'Montserrat';
  }
  
  .color-selection-text {
    font-size: 16px;
    margin-top: 8.5%;
    font-family: 'Montserrat';
  }
  
  .color-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .color-box {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
  }

  .project-title {
    font-size: 24px;
    margin-top:7%;
    font-weight: bold;
    font-family: 'Montserrat';
    font-weight: 500;
  }

  .project-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .project-photo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .project-name 
  {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    font-family: 'Montserrat Alternates';
    color: #247A60;
    margin-left: 0%;
    white-space: nowrap;
  }

  .project-link {
    font-size: 16px;
    color: gray;
    text-decoration: none;
    margin-left: auto;
    text-decoration: underline;
    font-family: 'Montserrat';
    margin-left: 35%;
    white-space: nowrap;
  }

  .quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border: 3px solid #ffcf33;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    margin-left: 40%;
    margin-bottom: 10%;
    font-family: 'Montserrat';
  }
  
  .quantity-container button {
    width: 60px;
    height: 50px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat';
    background: white;
  }

  /* Стили для контейнера с кнопкой "ПРИДБАТИ" */
.buy-container {
    display: flex;
    justify-content: center;
    width: 670px;
  }
  
  /* Кнопка "ПРИДБАТИ" */
  .buy-button {
    width: 640px;
    height: 83px;
    background-color: #ffcf33; /* Цвет кнопки */
    color: #333;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
  }

  .purchased {
    background-color: white !important; /* Цвет после нажатия */
    color: #ffcf33 !important;
    border: 3px solid black;
  }

    /* Затемненный фон */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный серый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
    
  /* Стили модального окна */
  .modal-content {
    background: #bde7d6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 860px;
    height: 530px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

    /* Фото под текстом */
.modal-image 
{
    width: 72px;
    height: 72px;
    height: auto;
    margin-bottom: 5%;
  }

   /* Кнопки */
.go-to-cart-button, .continue-shopping-button {
    width: 640px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
  }

  .go-to-cart-button
  {
    background-color: #ffcf33;
    color: #333;
  }

  .continue-shopping-button
  {
    background-color: #bde7d6;
    border: 3px solid #333;
    color: #333;
  }
  
  .go-to-cart-button:hover, .continue-shopping-button:hover {
    transform: scale(1.05);
  }

  .product-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -10%;
  }
  
  .product-price 
  {
    font-size: 36px;
    color: #333;
    margin-bottom: 5px;
    margin-top: -9%;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  
  .product-articul 
  {
    font-size: 16px;
    color: gray;
    font-family: 'Montserrat';
  }

/* Контейнер для изображения в правом верхнем углу */
.top-right-image {
  position: absolute;
  top: 8.5%; /* Отступ от верхней грани */
  right: 9%; /* Отступ от правой грани */
  z-index: 10; /* Чтобы изображение было поверх других элементов */
}

.top-right-image img {
  width: 150px; /* Размер изображения */
  height: 187px; /* Размер изображения */
}

/* Текст поверх изображения */
.overlay-text {
    position: absolute;
    top: 28%; /* Позиционируем текст по вертикали */
    left: 50%; /* Позиционируем текст по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем текст */
    color: #333; /* Белый цвет текста */
    font-size: 18px; /* Размер текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    text-align: center; /* Выравнивание текста по центру */
    font-weight: 500; /* Жирное начертание */
    width: 200px;
    font-size: 17px;
  }

/* Контейнер для информации о балансе */
.balance-info {
    margin-left: 75.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 9%; /* Отступ от текста "Ваш рахунок" */
    position: relative;
}

/* Маленькое изображение */
.small-image {
    width: 20px; /* Размер маленького изображения */
    height: 20px;
    object-fit: cover; /* Сохраняем пропорции изображения */
    margin-right: 5px; /* Отступ между изображением и текстом */
    z-index: 10;
}

/* Текст для цифры */
.balance-text {
    font-size: 25px; /* Размер числа */
    font-weight: bold; /* Толщина шрифта */
    color: #333; /* Цвет числа */
    font-family: 'Montserrat';
    z-index: 10;
    margin-left: 2%;
}
  
/* Новый контейнер с размерами 1300x40 */
.product-info-container {
    width: 1660px;
    height: 40px;
    background-color: #f5f5f5; /* Цвет фона, можно изменить */
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    margin: 20px auto; /* Отступ сверху и снизу, выравнивание по центру */
    margin-top: 4%;
    margin-left: 12.2%;
    background: linear-gradient(to right, #FFCF33, #BDE7D6);
}

/* Текст "ПРО ТОВАР" */
.product-info-text {
    font-size: 20px; /* Размер шрифта */
    font-weight: 600; /* Жирное начертание */
    color: #000; /* Цвет текста */
    font-family: 'Montserrat'; /* Шрифт */
}

/* Контейнер с описанием */
.custom-description-container {
    width: 1300px;
    margin: 20px auto; /* Центрируем контейнер */
    padding: 20px;
    box-sizing: border-box;
}

/* Ряд с названием и описанием */
.description-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Отступ между рядами */
}

/* Название слева */
.description-title {
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;
    width: 200px; /* Ширина для левого блока */
}

/* Описание справа */
.description-text {
    font-size: 20px;
    color: #333;
    width: calc(100% - 300px); /* Ширина для правого блока */
    line-height: 150%;
    font-family: 'Montserrat';
}


.color-box {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .color-box.selected {
    border: 4px solid #ffcf33;
  }

  .selection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .selection-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: 'Montserrat';
  }
  
  .color-options, .size-options {
    display: flex;
    gap: 10px;
    margin-top: 2.5%;
    font-family: 'Montserrat';
  }
  
  .color-image, .size-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
  }

  .selected
  {
    border: 3px solid #ffcf33;
    
  }
  
  .color-image.selected, .size-box.selected 
  {
    border: 3px solid #ffcf33;
  }
  
  .size-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

  .size-selection
  {
    margin-top: -12.5%;
    margin-left: 30%;
  }
  
  

  