<!-- РЕГИСТРАЦИЯ И АВТОРИЗАЦИЯ -->

<!-- ✅✅✅✅✅ -->
<!-- <app-registration></app-registration> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-reg-confirm></app-reg-confirm> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-reg-access></app-reg-access> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-login></app-login> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-password-reset></app-password-reset> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-new-password></app-new-password> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-new-pass-access></app-new-pass-access> -->

<!--------------------------------------------------->

<!-- ГЛАВНАЯ СТРАНИЧКА -->

<!-- <app-main-page></app-main-page> -->

<router-outlet></router-outlet>

<!--------------------------------------------------->

<!-- БЛОК ДОНАТА -->

<!-- ✅✅✅✅✅ -->
<!-- <app-donation></app-donation> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-comment-donation></app-comment-donation> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-comment-description-access></app-comment-description-access> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-without-comment-donation-access></app-without-comment-donation-access> -->

<!--------------------------------------------------->

<!-- СТРАНИЧКА ПРОЕКТА --> 

<!-- ✅✅✅✅✅ -->
<!-- <app-details></app-details> -->

<!-- <app-general></app-general> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-requisites></app-requisites> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-rewards></app-rewards> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-team></app-team> -->

<!-- <app-uploads></app-uploads> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-uploads-access></app-uploads-access> -->

<!-- <app-see-project-page></app-see-project-page> -->

<!-- <app-collection-closed-nice></app-collection-closed-nice> -->

<!-- <app-bad-collection-closed></app-bad-collection-closed> -->

<!-- <app-project-statistics></app-project-statistics> -->

<!--------------------------------------------------->

<!-- АКАУНТ -->

<!-- ✅✅✅✅✅ -->
<!-- <app-account-settings></app-account-settings> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-displayed-achievements></app-displayed-achievements> -->

<!-- <app-profile></app-profile> -->

<!-- <app-another-profile></app-another-profile> -->

<!-- <app-author-profile></app-author-profile> -->

<!-- <app-another-author-profile></app-another-author-profile> -->

<!-- <app-reach-achievement></app-reach-achievement> -->

<!--------------------------------------------------->

<!-- ПІДТРИМКА -->

<!-- ✅✅✅✅✅ -->
<!-- <app-support></app-support> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-search-result></app-search-result> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-send-request></app-send-request> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-faq></app-faq> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-accompaniment></app-accompaniment> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-specialist-help></app-specialist-help> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-experts></app-experts> -->

<!-- <app-legal-and-financial-services></app-legal-and-financial-services> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-read-more></app-read-more> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-marketing></app-marketing> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-marketing-form></app-marketing-form> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-marketing-access></app-marketing-access> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-seminar></app-seminar> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-blog></app-blog> -->

<!-- <app-state2></app-state2> -->

<!-- <app-state-start-up></app-state-start-up> -->

<!-- <app-seminars-vebinars></app-seminars-vebinars> -->

<!-- <app-seminar2></app-seminar2> -->

<!-- <app-seminar-second></app-seminar-second> -->

<!-- <app-seminar-third></app-seminar-third> -->

<!--------------------------------------------------->

<!-- ІНШІ -->

<!-- ✅✅✅✅✅ -->
<!-- <app-error-page></app-error-page> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-role-page></app-role-page> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-cookie-rools></app-cookie-rools> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-policy></app-policy> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-using-rools></app-using-rools> -->

<!--------------------------------------------------->

<!-- СПИСОК ПРОЄКТІВ -->

<!-- <app-projects-list></app-projects-list> -->

<!--------------------------------------------------->

<!-- ПРО НАС -->

<!-- ✅✅✅✅✅ -->
<!-- <app-about-us></app-about-us> -->

<!--------------------------------------------------->

<!-- SHOP -->

<!-- <app-shop-main-page></app-shop-main-page> -->

<!-- <app-tovar-page></app-tovar-page> -->

<!-- <app-tovar-page2></app-tovar-page2> -->

<!-- <app-end-tovar-page></app-end-tovar-page> -->

<!-- <app-basket></app-basket> -->

<!-- <app-product-registration></app-product-registration> -->

<!-- ✅✅✅✅✅ -->
<!-- <app-shop-success></app-shop-success> -->


<!--------------------------------------------------->

<!-- CARDS -->

<!-- <app-all-cards></app-all-cards> -->

<!--------------------------------------------------->

<!-- CHAT -->

<!-- <app-contact-author></app-contact-author> -->


<!-- BECOME AUTHOR -->

<!-- <app-becaming-author></app-becaming-author> -->





<!-- ПРЕЗЕНТАЦИЯ -->

<!-- ВИДЕО РАБОТЫ ПРОЕКТА -->



