
<!-- Шрифт Montserrat -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- Шрифт unbounded -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

<!-- Шрифт Montserrat Alternates -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header class="header">
    <div class="header-left">
      <img src="assets/images/greenCoin.png" class="logo" alt="Seed Flow Logo" />
      <span class="brand-name">Seed Flow</span>
    </div>
  
    <!-- Блок поиска -->
<div class="search-container" #searchContainer>
  <input 
    style="font-family: 'Montserrat';"
    type="text"
    class="search-input"
    placeholder="🔍"
    (focus)="showDropdown = true"
    (input)="filterResults()"
    [(ngModel)]="searchText"
  />
  
  <div *ngIf="showDropdown" class="search-dropdown" [style.height]="getDropdownHeight()">
    <!-- 3 основные кнопки: СТАРТАПИ, СОЦІАЛЬНІ, ГУМАНІТАРНІ -->
    <div class="button-row wide-buttons">
      <button class="button wide-button"
        [ngClass]="{ 'active': activeCategoryIndex === 0 }"
        (click)="onCategoryButtonPress(0)">
       {{" СТАРТАПИ" | transloco}}</button>
      <button class="button wide-button"
        [ngClass]="{ 'active': activeCategoryIndex === 1 }"
        (click)="onCategoryButtonPress(1)">
        СОЦІАЛЬНІ</button>
      <button class="button wide-button"
        [ngClass]="{ 'active': activeCategoryIndex === 2 }"
        (click)="onCategoryButtonPress(2)">
        ГУМАНІТАРНІ</button>
    </div>
  
    <!-- Кнопки для СТАРТАПИ -->
    <div *ngIf="activeCategoryIndex === 0">
      <div class="button-row" *ngFor="let row of startupRows">
        <button *ngFor="let button of row" class="button rounded-button"
          [ngClass]="{ 'active': activeStartupButtonIndex === button.index }"
          (click)="onButtonPress('startup', button.index)">
          {{ button.label }}
        </button>
      </div>
    </div>
  
    <!-- Кнопки для СОЦІАЛЬНІ -->
    <div *ngIf="activeCategoryIndex === 1">
      <div class="button-row">
        <button *ngFor="let button of socialButtons" class="button rounded-button"
          [ngClass]="{ 'active': activeSocialButtonIndex === button.index }"
          (click)="onButtonPress('social', button.index)">
          {{ button.label }}
        </button>
      </div>
    </div>
  
    <!-- Кнопки для ГУМАНІТАРНІ -->
    <div *ngIf="activeCategoryIndex === 2">
      <div class="button-row">
        <button *ngFor="let button of humanitarianButtons" class="button rounded-button"
          [ngClass]="{ 'active': activeHumanitarianButtonIndex === button.index }"
          (click)="onButtonPress('humanitarian', button.index)">
          {{ button.label }}
        </button>
      </div>
    </div>

    <div class="hot-projects">
      <span class="hot-projects-text">ГАРЯЧІ ПРОЄКТИ</span>
      <hr class="hot-projects-line" />
    </div>

<!-- Результаты поиска (фото и описание) -->
<div *ngIf="filteredItems.length > 0; else noResults">
  <div class="search-items">
    <div *ngFor="let item of filteredItems" class="search-item">
       <!-- Контейнер для фото и описания, чтобы добавить рамку -->
       <div class="search-item-content">

        <div class="icon-top-left">
          <img src="assets/images/LeftUpAngle.png" alt="icon" class="top-left-icon" />
        </div>

        <div class="icon-top-right">
          <img src="assets/images/rocket.png" alt="icon 2" class="top-right-icon" />
        </div>


      <!-- Фото элемента -->
      <img [src]="item.image" alt="image" class="search-item-img" />
      
      <!-- Название с суммой и прогресс-баром -->
      <div class="search-item-body">
        <p class="search-item-title">{{ item.title }}</p>
        <!-- Сумма сверху прогресс-бара -->
        <div class="progress-info">
          <span class="progress-from">135 457 грн</span>
          <span class="progress-to">500 000 грн</span>
        </div>
        
        <!-- Прогресс-бар -->
        <progress class="progress-bar" [value]="item.progress" max="100"></progress>
      </div>

      <!-- Иконка справа внизу под фото -->
      <div class="icon-container">
        <img src="assets/images/socialMedia.png" alt="icon" class="search-item-icon" />
        <br>
        <img src="assets/images/like.png" alt="new icon" class="search-item-icon" />
      </div>

      <!-- Иконки и числа под прогресс-баром -->
      <div class="icons-container">
        <div class="icon-item">
          <img src="assets/images/people.png" alt="icon 1" class="icon-img" />
          <p class="icon-number">{{ item.value1 }}</p>
        </div>
        <div class="icon-item">
          <img src="assets/images/comments.png" alt="icon 2" class="icon-img" />
          <p class="icon-number">{{ item.value2 }}</p>
        </div>
        <div class="icon-item">
          <img src="assets/images/money.png" alt="icon 3" class="icon-img" />
          <p class="icon-number">{{ item.value3 }}%</p>
        </div>

        <button class="support-button2">ПІДТРИМАТИ</button>
      </div>

      <div class="search-item-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae aliquam rem expedita itaque.
      </div>
    </div>
  </div>
</div>
</div>



      
      
    
    <ng-template #noResults>
      <div class="no-results">Нічого не знайдено</div>
    </ng-template>
  </div>
</div>
  
    <div class="header-right">
      <button class="submit-project-btn">{{"Подати проєкт" | transloco}}</button>
      <img src="assets/images/profile.png" class="profile-icon" alt="User Profile">
    </div>

    <div class="language-switcher" style="color: #898268;"><img src="assets/images/language.png" class="logo2">

      <mat-select [formControl]="selectedLanguage" style="width: 55px;" (selectionChange)="onLanguageChange($event)">
        <mat-option style="font-family: 'Montserrat';" *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.name }}
        </mat-option>
      </mat-select>
  </div>
   
  </header>

  <hr>

        <!-- Фото в правом верхнем углу -->
        <div class="top-right-image">
            <img src="assets/images/ShopGreenLeftUp.png" alt="Top Right Image" />
            <div class="overlay-text">{{"Ваш рахунок" | transloco}}<span style="color: #247a60; font-weight: 600; font-size: 20px; margin-bottom: 30%;"><br>Seeds</span></div>      
        </div>

        <div class="balance-info">
            <!-- Маленькое фото слева от текста -->
            <img src="assets/images/Seeds.png" alt="Small Image" class="small-image" />
            <span class="balance-text">250</span>
        </div>

        <h1 class="title">{{"Оформлення замовлення" | transloco}}</h1>

  <div class="container2">
    <div class="header2">
        <span style="position: relative; margin-left: 2%; font-size: 18px;">{{"У кошику 2 товари" | transloco}}</span>
        <span style="cursor:pointer; position: relative; left: -2%;"><img src="assets/images/edit2.png"></span>
    </div>

    <div class="divider"></div>


    <!-- Новый блок товара -->
    <div class="product-block">
        <div class="product-image">
            <img src="assets/images/ShopTovar4.png" alt="Чашка з блюдцем" width="90" height="90">
        </div>
        <div class="product-info">
            <span class="product-name">{{"Чашка з блюдцем, 250 мл" | transloco}}</span>
            <span class="product-quantity">1 {{"шт" | transloco}}</span>
            <span class="product-price">430 {{"грн" | transloco}}</span>
        </div>

                <!-- Новый элемент "Колір" с квадратом -->
                <div class="product-colour">
                    <span class="colour-label">{{"Колір" | transloco}}</span>
                    <div class="colour-box" style="background-color: red;"></div>
                </div>

                <!-- Новый элемент "Колір" с квадратом -->
                <div class="article">
                    <span class="article2">{{"Артикул" | transloco}}: 425789</span>
                </div>



    </div>

    <div class="product-block">
        <div class="product-image">
            <img src="assets/images/ShopTovar4.png" alt="Чашка з блюдцем" width="90" height="90">
        </div>
        <div class="product-info">
            <span class="product-name">{{"Худі Seed Flow, свинка" | transloco}}</span>
            <span class="product-quantity">1 {{"шт" | transloco}}</span>
            <span class="product-price">1289 {{"грн" | transloco}}</span>
        </div>

         <!-- Новый элемент "Колір" с квадратом -->
         <div class="product-colour">
            <span class="colour-label">{{"Колір" | transloco}}</span>
            <div class="colour-box" style="background-color: gray;"></div>

            <span class="colour-label2">{{"Розмір" | transloco}}</span>
            <div class="letter">M</div>
        </div>

        <!-- Новый элемент "Колір" с квадратом -->
        <div class="article">
            <span class="article3">{{"Артикул" | transloco}}: 425789</span>
        </div>
    </div>



    <div class="divider"></div>

    <div class="header2">
        <span style="position: relative; margin-left: 30%; font-size: 18px;">{{"Всього" | transloco}}</span>
        <span style="font-size: 32px; color: #247a60;">{{totalAmount}} {{"грн" | transloco}}</span>
    </div>


    <div class="text2">{{"Використати Seed Money" | transloco}}</div>
    <div class="row2">
        <span>{{"Доступно" | transloco}}:</span>
        <span class="amount-box">170</span>
    </div>
    <div class="right2">
    <div class="row2">
        <span>{{"Використати" | transloco}}:</span>
    </div>
    <div class="input-container">
        <input class="amount-box2" [(ngModel)]="inputAmount" (input)="updatePayment()" type="number" placeholder="{{'Введіть кількість монет' | transloco}}" min="0">
    </div>
    </div>

    <span style="width: 200px; font-family: 'Montserrat'; font-size: 14px; margin-left: 33%; margin-top: 3%; line-height: 150%;">{{"Ви можете використати не більше 30% від повної вартості товарів" | transloco}}</span>

    <button class="button2">{{"СКАСУВАТИ" | transloco}}</button>

    <br>

    <div class="divider"></div>
    
    <div class="header2">
        <span style="position: relative; margin-left: 30%; font-size: 18px;">{{"До сплати" | transloco}}</span>
        <span style="font-size: 32px; color: #247a60;">{{ finalAmount }} {{"грн" | transloco}}</span>
    </div>

    <div class="divider"></div>

    <div style="font-size: 15px; font-family: 'Montserrat'; display: flex; align-items: center; margin-top: 2%;">
        <input type="checkbox" class="checkbox2" style="margin-right: 5px;">
        <span style="margin-left: 2%;">{{"В мене є питання, передзвоніть мені" | transloco}}</span>
    </div>

    <button class="button3" [routerLink]="'/shop-success-page'">{{"ПЕРЕЙТИ ДО ОФОРМЛЕННЯ" | transloco}}</button>

    <button class="button4" [routerLink]="'/shop-main-page-page'">{{"ПРОДОВЖИТИ ПОКУПКИ" | transloco}}</button>

</div>


  <div class="contact-details-container">
    <h2 class="contact-heading">{{"Контактні дані" | transloco}}</h2>
    
    <div class="input-row">
    <div class="input-item">
        <label for="name" class="label-text">{{"Ім'я" | transloco}}</label>
        <input type="text" id="name" class="input-field">
    </div>

    <div class="input-item">
        <label for="surname" class="label-text">{{"Прізвище" | transloco}}</label>
        <input type="text" id="surname" class="input-field">
    </div>
</div>
    
<div class="input-row2">
    <div class="input-item">
        <label for="phone" class="label-text">{{"Номер телефона" | transloco}}</label>
        <input type="tel" id="phone" class="input-field">
    </div>

    <div class="input-item">
        <label for="email" class="label-text">{{"Електронна пошта" | transloco}}</label>
        <input type="email" id="email" class="input-field">
    </div>
</div>

<div style="font-size: 15px; font-family: 'Montserrat'; display: flex; align-items: center; margin-top: 2%;">
    <input type="checkbox" class="checkbox2" style="margin-right: 5px;">
    <span style="margin-left: 2%;">{{"Я даю згоду на обробку моїх персональних даних" | transloco}}</span>
</div>
</div>

<br>

<!-- Новый контейнер для Доставка -->
<div class="delivery-container">

    <h2 class="delivery-heading">{{"Доставка" | transloco}}</h2>
    <p class="delivery-subheading">{{"(За тарифами перевізника)" | transloco}}</p>

    <div class="input-row">
        <div class="input-item">
            <label for="phone" class="label-text">{{"Країна" | transloco}}</label>
            <input type="tel" id="phone" class="input-field">
        </div>

        <div class="input-item">
            <label for="city" class="label-text">{{"Місто" | transloco}}</label>
            <input type="text" id="city" class="input-field">
        </div>
    </div>

<!-- Спосіб доставки -->
<div class="input-item">
    <label class="label-text">{{"Спосіб доставки" | transloco}}</label>
    <div class="delivery-methods">
        <!-- Відділення Нова Пошта -->
        <div class="delivery-option">
            <input type="radio" id="novaPostaBranch" name="deliveryMethod" value="novaPostaBranch" [(ngModel)]="selectedDeliveryMethod">
            <label for="novaPostaBranch">{{"Відділення Нова Пошта" | transloco}}</label>
            <div *ngIf="selectedDeliveryMethod === 'novaPostaBranch'">
                <p class="delivery-info-text">{{"Вкажіть номер або адресу відділення" | transloco}}</p>
                <input type="text" class="input-field2" placeholder="{{'Номер або адреса відділення' | transloco}}">
            </div>
        </div>

        <!-- Поштомат Нова Пошта -->
        <div class="delivery-option">
            <input type="radio" id="novaPostaSelf" name="deliveryMethod" value="novaPostaSelf" [(ngModel)]="selectedDeliveryMethod">
            <label for="novaPostaSelf">{{"Поштомат Нова Пошта" | transloco}}</label>
            <div *ngIf="selectedDeliveryMethod === 'novaPostaSelf'">
                <p class="delivery-info-text">{{"Вкажіть номер або адресу поштомата" | transloco}}</p>
                <input type="text" class="input-field2" placeholder="{{'Номер або адреса поштомата' | transloco}}">
            </div>
        </div>

        <!-- Відділення Укрпошта -->
        <div class="delivery-option">
            <input type="radio" id="ukrPostaBranch" name="deliveryMethod" value="ukrPostaBranch" [(ngModel)]="selectedDeliveryMethod">
            <label for="ukrPostaBranch">{{"Відділення Укрпошта" | transloco}}</label>
            <div *ngIf="selectedDeliveryMethod === 'ukrPostaBranch'">
                <p class="delivery-info-text">{{"Вкажіть номер або адресу відділення" | transloco}}</p>
                <input type="text" class="input-field2" placeholder="{{'Номер або адреса відділення' | transloco}}">
            </div>
        </div>

        <!-- Відділення Meest ПОШТА -->
        <div class="delivery-option">
            <input type="radio" id="meestPostaBranch" name="deliveryMethod" value="meestPostaBranch" [(ngModel)]="selectedDeliveryMethod">
            <label for="meestPostaBranch">{{"Відділення Meest ПОШТА" | transloco}}</label>
            <div *ngIf="selectedDeliveryMethod === 'meestPostaBranch'">
                <p class="delivery-info-text">{{"Вкажіть номер або адресу відділення" | transloco}}</p>
                <input type="text" class="input-field2" placeholder="{{'Номер або адреса відділення' | transloco}}">
            </div>
        </div>

        <!-- Кур'єр Нова Пошта -->
        <div class="delivery-option">
            <input type="radio" id="novaPostaCourier" name="deliveryMethod" value="novaPostaCourier" [(ngModel)]="selectedDeliveryMethod">
            <label for="novaPostaCourier">{{"Кур'єр Нова Пошта" | transloco}}</label>
            <div *ngIf="selectedDeliveryMethod === 'novaPostaCourier'">
                <p class="delivery-info-text">{{"Вкажіть деталі для кур'єра" | transloco}}</p>
                <input type="text" class="input-field2" placeholder='{{"Деталі для кур&#39;єра Нова Пошта" | transloco}}'>
            </div>
        </div>

        <!-- Кур'єр Укрпошта -->
        <div class="delivery-option">
            <input type="radio" id="ukrPostaCourier" name="deliveryMethod" value="ukrPostaCourier" [(ngModel)]="selectedDeliveryMethod">
            <label for="ukrPostaCourier">{{"Кур'єр Укрпошта" | transloco}}</label>
            <div *ngIf="selectedDeliveryMethod === 'ukrPostaCourier'">
                <p class="delivery-info-text">{{"Вкажіть деталі для кур'єра" | transloco}}</p>
                <input type="text" class="input-field2" placeholder='{{"Деталі для кур&#39;єра Укрпошта" | transloco}}'>
            </div>
        </div>

        <!-- Кур'єр Meest ПОШТА -->
        <div class="delivery-option">
            <input type="radio" id="meestPostaCourier" name="deliveryMethod" value="meestPostaCourier" [(ngModel)]="selectedDeliveryMethod">
            <label for="meestPostaCourier">{{"Кур'єр Meest ПОШТА" | transloco}}</label>
            <div *ngIf="selectedDeliveryMethod === 'meestPostaCourier'">
                <p class="delivery-info-text">{{"Вкажіть деталі для кур'єра" | transloco}}</p>
                <input type="text" class="input-field2" placeholder='{{"Деталі для кур&#39;єра Meest ПОШТА" | transloco}}'>
            </div>
        </div>
    </div>
</div>
</div>

<br>

<div class="payment-container">
    <h2 class="payment-heading">{{"Оплата" | transloco}}</h2>

    <div class="payment-methods">
        <!-- Карткою на сайті -->
        <div class="payment-option">
            <input type="radio" id="cardPayment" name="paymentMethod" value="cardPayment" [(ngModel)]="selectedPaymentMethod">
            <label for="cardPayment">{{"Карткою на сайті" | transloco}}</label>
        </div>
        <div class="payment-info" *ngIf="selectedPaymentMethod === 'cardPayment'">
            <p class="payment-info-text">{{"Вкажіть дані картки" | transloco}}</p>
            <input type="text" class="input-field3" placeholder="{{'Номер картки' | transloco}}">

            <div class="payment-row">
            <p class="payment-info-text2">{{"Строк дії картки" | transloco}}</p>
            <input type="text" class="input-field4">
            </div>

            <div class="payment-row2">
                <p class="payment-info-text2">{{"Код CVV" | transloco}}</p>
                <input type="text" class="input-field4">
            </div>

        </div>

        <!-- Післяплата -->
        <div class="payment-option">
            <input type="radio" id="postPayment" name="paymentMethod" value="postPayment" [(ngModel)]="selectedPaymentMethod">
            <label for="postPayment">{{"Післяплата" | transloco}}</label>
        </div>

        <!-- Pay -->
        <div class="payment-option">
            <input type="radio" id="payService" name="paymentMethod" value="payService" [(ngModel)]="selectedPaymentMethod">
            <label for="payService">Pay</label>
        </div>

        
    </div>
</div>

<br>

<div class="comment-container">
    <h2 class="comment-heading">{{"Коментар до замовлення" | transloco}}</h2>
    <textarea class="comment-textarea" placeholder="{{'Введіть коментар...' | transloco}}"></textarea>
</div>












<footer class="footer">
    <div class="footer-container">
      <div class="footer-header">
        <div class="footer-logo">
          <img src="assets/images/greenCoin.png" alt="Seed Flow" />
          <span style="font-family: 'Montserrat Alternates';">Seed Flow</span>
        </div>
        <hr class="footer-line" />
      </div>

      <div class="subscription" style="background-color: #bde7d6; margin-left: 345px; padding: 25px; text-align: center; border-radius: 8px; margin-bottom: 20px; width: 80%; display: flex; align-items: center; justify-content: center; box-sizing: border-box;">
        <span style="font-family: 'Montserrat'; font-size: 18px; font-weight: 500; color: #247a60;position: relative; right: 50px; white-space: nowrap;">
          {{"ПІДПИШИСЬ НА НАШІ НОВИНИ" | transloco}}
        </span>
        <input type="email" placeholder="{{'Введіть адресу електронної пошти' | transloco }}" style="padding: 8px; border: none; border-radius: 5px; width: 750px; font-family: 'Montserrat';" />
        <button style="padding: 12px 15px; border: none; background-color: #247a60; color: white; font-weight: 500; border-radius: 5px; position: relative; left: 50px; cursor: pointer; font-family: 'Montserrat';">
          {{"ВІДПРАВИТИ" | transloco }}
        </button>
      </div>
  
      <div class="footer-links">
        <div class="footer-column">
          <h4>{{"ПРО НАС" | transloco}}</h4>
          <ul>
            <li><a href="#">{{"Політика конфіденційності" | transloco}}</a></li>
            <li><a href="#">{{"Правила користування порталом" | transloco}}</a></li>
            <li><a href="#">{{"Про нас" | transloco}}</a></li>
            <li><a href="#">{{"Супровід" | transloco}}</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>{{"ПРОЄКТИ" | transloco}}</h4>
          <ul>
            <li><a href="#">{{"Список проєктів" | transloco}}</a></li>
            <li><a href="#">{{"Пошук" | transloco}}</a></li>
            <li><a href="#">{{"Викласти проєкт" | transloco}}</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>{{"АКАУНТ" | transloco}}</h4>
          <ul>
            <li><a href="#">{{"Налаштування акаунта" | transloco}}</a></li>
            <li><a href="#">{{"Повідомлення" | transloco}}</a></li>
            <li><a href="#">{{"Перегляд транзакцій" | transloco}}</a></li>
            <li><a href="#">{{"Підтримані проєкти" | transloco}}</a></li>
            <li><a href="#">{{"Вподобані проєкти" | transloco}}</a></li>
            <li><a href="#">{{"Вподобані товари" | transloco}}</a></li>
            <li><a href="#">{{"Історія покупок" | transloco}}</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>{{"ПІДТРИМКА" | transloco}}</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">{{"Супровід проєкту" | transloco}}</a></li>
            <li><a href="#">{{"Семінари/вебінари" | transloco}}</a></li>
            <li><a href="#">{{"Блог" | transloco}}</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>{{"МАГАЗИН" | transloco}}</h4>
          <ul>
            <li><a href="#">{{"Політика конфіденційності" | transloco}}</a></li>
            <li><a href="#">{{"Правила користування порталом" | transloco}}</a></li>
            <li><a href="#">{{"Про нас" | transloco}}</a></li>
            <li><a href="#">{{"Карта сайту" | transloco}}</a></li>
          </ul>
        </div>
      </div>
    </div>

     <hr
      style="
        border-top: 3px solid #ffcf33;
        width: 38%;
        margin-top: 60px;
        justify-content: left;
        position: relative;
        left: -440px;
      "
    />
    <div class="footer-social">
      <h4 style="font-family: 'Montserrat'">
        <p class="underline-center">{{"МИ У СОЦМЕРЕЖАХ" | transloco }}</p>
      </h4>

      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-telegram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>

    <hr
      style="
        border-top: 3px solid #ffcf33;
        width: 38%;
        margin-top: 80px;
        justify-content: left;
        position: relative;
        left: 365px;
      "
    />

    <div class="footer-bottom">
      <p style="font-weight: 400;">
        Всі права збережені | All rights save © 2025
      </p>
    </div>
  </footer>
