.language-switcher
{
  position: relative;
  left: 22px;
}

.logo2
{
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 50px;
  height: 50px;
}

.header 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  background: #fff;
 

  .header-left {
    display: flex;
    align-items: center;
    gap: 10px;

    .logo {
      width: 30px;
      height: 30px;
    }

    .brand-name {
      font-size: 25px;
      font-weight: 500;
      color: #2e7d32;
      font-family: "Montserrat Alternates";
    }
  }

  .header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    .search-input {
      width: 550px;
      padding: 8px 12px;
      border-radius: 20px;
      border: 1px solid #ccc;
      font-size: 14px;
      outline: none;
      transition: 0.3s;

      &:focus {
        border-color: #2e7d32;
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 15px;

    .submit-project-btn 
    {
      width: 160px;
      height: 33px;
      background: transparent;
      border: 1px solid #247a60;
      color: #247a60;
      padding: 6px 12px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
      font-family: 'Montserrat';

      &:hover {
        background: #247a60;
        color: #fff;
      }
    }

    .profile-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.footer 
{
  padding: 40px 0;
  font-family: 'Montserrat', sans-serif;

  .footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .footer-logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
      }

      span {
        font-size: 24px;
        font-weight: 600;
        color: #2e7d32;
      }
    }

    .footer-line {
      flex-grow: 1;
      height: 2px;
      background: #ffcf33;
      border: none;
      margin-left: 20px; /* Отступ от логотипа */
    }
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    margin-top: 20px;

    .footer-column {
      width: 18%;

      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #1b5e20;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          a {
            text-decoration: none;
            color: #333;
            font-size: 14px;
            transition: color 0.3s ease;

            &:hover {
              color: #2e7d32;
            }
          }
        }
      }
    }
  }
}

.footer-social 
{
position: relative;
text-align: center;
top: 20px;
left: -40px;
color: #247A60;
}

.underline-center 
{
display: inline-block;
position: relative;
}

.underline-center::after 
{
content: "";
position: absolute;
left: 50%;
bottom: -10px;
width: 50%;
height: 1px;
background-color: #247A60;
transform: translateX(-50%);
}

.social-icons a 
{
margin: 0 10px;
font-size: 28px;
color: #333;
padding: 4px;
}

.footer-bottom 
{
position: relative;
text-align: center;
margin-top: 70px;
margin-bottom: 40px;
font-size: 15px;
color: #666;
left:-40px;
font-family: 'Montserrat';
}

.search-container 
{
  position: relative;
  width: 1200px;
  font-family: 'Montserrat';
}

.search-input 
{
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  left: 25%;
}

.search-input:focus {
  border-color: #bde7d6;  /* Зеленый цвет рамки */
  background-color: #bde7d6;  /* Светлый голубой фон */
}

.search-dropdown 
{
  position: absolute;
  top: 155%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 800px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
}

.search-item-content 
{
  border: 2px solid #ddd; 
  border-radius: 10px; 
  padding: 4px; 
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 99%; 
}

.search-items 
{
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.search-item 
{
  text-align: left;
  width: 390px; 
  display: flex;
  flex-direction: column; 
  gap: 10px;  
  align-items: flex-start;  
}

.search-item-img 
{
  width: 100%; 
  height: 250px; 
}

.search-item-title 
{
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Montserrat';
}

.search-item-body 
{
  position: relative;
  padding: 15px;
  background-color: white;
  color: black;
  transition: transform 0.3s ease;
}

.search-item:hover .search-item-body,
.search-item:hover .icon-container,
.search-item:hover .icons-container 
{
  transform: translateY(-70px);
}

.search-item:hover 
{
  background-color: white;
}

.search-item-text 
{
  position: absolute;
  bottom: 0px; 
  left: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 10px;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-item:hover .search-item-text 
{
  bottom: 10px;
  opacity: 1;
  transform: translateY(0);
}

.progress-bar 
{
  position: absolute;
  width: 56%;
  height: 8px; 
  border-radius: 5px; 
  appearance: none; 
  background-color: #e0e0e0; 
  margin-top: 8px;
}

.progress-bar::-webkit-progress-bar 
{
  background-color: #e0e0e0; 
}

.progress-bar::-webkit-progress-value 
{
  background-color: #247A60; 
}

.progress-bar::-moz-progress-bar 
{
  background-color: #247A60; 
}

.search-item-info h4 
{
  margin: 0;
  font-size: 14px;
}

.search-item-info p {
  margin: 5px 0 0;
  font-size: 12px;
  color: #777;
}

.search-item-info 
{
  flex-grow: 1;
}

.support-btn 
{
  background-color: #247a60;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.support-btn:hover 
{
  background-color: #247a60;
}

.no-results 
{
  padding: 10px;
  text-align: center;
  color: #999;
}

.button-row 
{
  display: flex;
  justify-content: center; 
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.wide-buttons 
{
  gap: 80px; 
  margin-bottom: 50px;
  margin-top: 20px;
}

.button-row button 
{
  max-width: 350px;
  padding: 8px 43px;
  background-color: #bde7d6;
  color: #333027;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wide-button 
{
  width: 300px;
  height: 45px;
  padding: 12px 20px;
  background-color: #bde7d6;
  color: #333027;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
}

.rounded-button 
{
  padding: 8px 16px;
  width: 195px;
  font-size: 18px !important;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px !important;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat';
}

button.wide-button.active, button.rounded-button.active 
{
  background-color: #ffcf33;
  color: #247a60;
  font-weight: 550;
}

button.rounded-button:hover 
{
  background-color: #ffcf33;
  color: #247a60;
  font-weight: 550;
}

.hot-projects 
{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.hot-projects-text 
{
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  font-family: 'Montserrat';
  color: #333;
}

.hot-projects-line {
  flex-grow: 1;
  border: none;
  border-top: 3px solid #ffcf33;
  margin-left: 20px;
}

.progress-info 
{
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 200px;
  font-size: 14px;
  color: #333;
  margin-top: -10px;
}

.progress-from 
{
  font-weight: normal;
  font-family: 'Montserrat';
}

.progress-to 
{
  font-weight: 600;
  font-family: 'Montserrat';
}

.icons-container 
{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.7);
  margin-left: 30px;
  font-family: 'Montserrat';
}

.icon-item 
{
  text-align: center;
  flex-basis: 30%;
}

.icon-img 
{
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.icon-number 
{
  margin-top: 5px;
  font-size: 17px;
  color: #333;
  font-weight: 600;
}

.search-item 
{
  position: relative;
}

.icon-container 
{
  position: absolute;
  top: 280px;
  right: 10px;
  cursor: pointer;
}

.search-item-icon 
{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.support-button2 
{
  padding: 8px 16px;
  background-color: #247A60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 130px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  left: -45px;
  font-family: 'Montserrat';
}

.support-button2:hover 
{
  background-color: #247A60;
}

.icon-top-left 
{
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: 10;
}

.top-left-icon
{
  width: 80px;
  height: 40px;
}

.top-right-icon
{
  width:30px;
  height: 30px;
}

.icon-top-right 
{
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 10;
}

// PRODUCT REGISTRATION

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    position: relative;
    top: 20px;
}

.contact-details-container {
    width: 750px;
    height: 320px;
    background-color: #ebebeb;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 16%;
    margin-top: -17.5%;
}

.input-row {
    display: flex;
    gap: 40px;
    margin-top: -2%;
}

.input-row2 {
    display: flex;
    gap: 40px;
    margin-top: 0%;
}

.contact-heading {
    font-size: 22px;
    font-family: 'Montserrat';
    color: #333;
}

.input-item {
    margin-top: 20px;
    width: 325px;
    height: 30px;
    margin-bottom: 40px;
}

.label-text {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Montserrat';
}

.checkbox2
{
    width: 20px;
    height: 20px;
    appearance: none; /* Убираем стандартный стиль */
    background-color: white; /* Цвет фона */
    border: 2px solid #ccc; /* Цвет рамки */
    border-radius: 4px; /* Закругленные углы */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkbox2:checked {
    background-color: #ffcf33; /* Новый цвет при выборе */
    border-color: #ffcf33;
    position: relative;
}

.checkbox2:checked::after {
    content: '✔';
    font-size: 16px;
    color: white;
    font-weight: bold;
}

 /* Контейнер для Доставка */
 .delivery-container {
    width: 750px;
    height: 620px;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 16%;
}

.delivery-heading {
    font-size: 22px;
    font-family: 'Montserrat';
    color: #333;
}

.delivery-subheading 
{
    font-size: 16px;
    font-family: 'Montserrat';
    color: #555;
    margin-top: 5px;
}

.delivery-methods {
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Добавьте небольшой отступ сверху, чтобы элементы не прилипали к верхнему краю */
}

.delivery-option 
{
    display: flex;
    align-items: center; /* Радио-кнопка и название в один ряд */
    gap: 10px; /* Отступ между радио-кнопкой и текстом */
    width: 100%;
    flex-wrap: wrap; /* Позволяет переносить элементы, если не помещаются */
}

.delivery-option input[type="radio"] {
    appearance: none; /* Убираем стандартный стиль */
    width: 15px;
    height: 15px;
    border: 2px solid #ccc; /* Цвет рамки */
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: white; /* Фон по умолчанию */
}

.delivery-option input[type="radio"]:checked {
    background-color: white; /* Новый цвет при выборе */
    border-color: #ffcf33;
}

.delivery-option input[type="radio"]:checked::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #ffcf33; /* Цвет внутреннего круга */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delivery-info-text {
    font-size: 14px;
    font-family: 'Montserrat';
    color: #555;
    margin-top: -20px; /* Уберите огромный отступ сверху, чтобы текст не поднимался слишком высоко */
    width: 470px;
    margin-left: 12%; /* Выравниваем текст по стандарту */
    position: relative;
}

.delivery-option label {
    display: inline-block;
    white-space: nowrap; /* Предотвращает перенос текста */
    font-family: 'Montserrat';
    margin-top: -35px; /* Добавьте нормальный отступ сверху */
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left: 12%; /* Позиционирование инпута по умолчанию */
    margin-bottom: 5%;
    font-family: 'Montserrat';
}

.delivery-option input[type="radio"]:checked + label {
    border-color: #ffcf33; /* Желтая граница при выборе */
}

.payment-option label {
    display: inline-block;
    white-space: nowrap; /* Предотвращает перенос текста */
    font-family: 'Montserrat';
    margin-top: -35px; /* Добавьте нормальный отступ сверху */
    padding: 6px;
    width: 40.5%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left: 1%; /* Позиционирование инпута по умолчанию */
    margin-bottom: 5%;
    font-family: 'Montserrat';
    position: relative;
    top: 37px;
}


.input-field2 {
    margin-top: -5px; /* Добавьте нормальный отступ сверху */
    padding: 7px;
    width: 88%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-left: 12%; /* Позиционирование инпута по умолчанию */
    margin-bottom: 5%;
    font-family: 'Montserrat';
}

.selected-label {
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 5px;
}



.delivery-option div {
    width: 100%; /* Блок с текстом и инпутом занимает всю ширину */
}

.payment-container {
    width: 710px;
    height: 280px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    margin-left: 16%;
}

.payment-heading 
{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.payment-methods 
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payment-option 
{
    display: flex;
    align-items: center; /* Радио-кнопка и название в один ряд */
    gap: 10px; /* Отступ между радио-кнопкой и текстом */
    width: 100%;
    flex-wrap: wrap; /* Позволяет переносить элементы, если не помещаются */
}

.payment-option  input[type="radio"] {
    appearance: none; /* Убираем стандартный стиль */
    width: 15px;
    height: 15px;
    border: 2px solid #ccc; /* Цвет рамки */
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: white; /* Фон по умолчанию */
}

.payment-option  input[type="radio"]:checked {
    background-color: white; /* Новый цвет при выборе */
    border-color: #ffcf33;
}

.payment-option input[type="radio"]:checked::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #ffcf33; /* Цвет внутреннего круга */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.payment-option input[type="radio"]:checked + label {
    border-color: #ffcf33; /* Желтая граница при выборе */
}














.payment-info {
    margin-top: 10px; /* Отступ от кнопки */
    width: 50%; /* Занимает всю ширину */
}

.payment-info-text {
    font-size: 14px;
    font-family: 'Montserrat';
    color: #555;
    margin-bottom: 5px;
    margin-left: 11%;
    margin-top: -5%;
}

.payment-info-text2 {
    font-size: 14px;
    font-family: 'Montserrat';
    color: #555;
    margin-bottom: 5px;
    margin-left: -8%;
    margin-top: 0%;
    white-space: nowrap;
    margin-right: auto; /* Отправляет текст влево, инпут вправо */
}

.payment-row {
    margin-top: -18.8%;
    margin-left: 60%;
    position: relative;
    left: 47%;
    width: 135px;
}

.payment-row2 {
    margin-top: -17.4%;
    margin-left: 72%;
    position: relative;
    left: 86%;
    width: 135px;
}

.input-field3 {
    width: 81%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 0px; /* Добавьте нормальный отступ сверху */
    box-sizing: border-box;
    margin-left: 11%; /* Позиционирование инпута по умолчанию */
    margin-bottom: 2%;
    font-family: 'Montserrat';
}


.input-field4 {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 0px; /* Добавьте нормальный отступ сверху */
    box-sizing: border-box;
    margin-left: -7%; /* Позиционирование инпута по умолчанию */
    margin-bottom: 2%;
    font-family: 'Montserrat';
}

.comment-container {
    margin-left: 16%;
    width: 710px;
    height: 255px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.comment-heading 
{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px; /* Отступ между заголовком и textarea */
    font-family: 'Montserrat';

}

.comment-textarea {
    width: 680px;
    height: 160px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    font-family: 'Montserrat';
}

/* Контейнер для изображения в правом верхнем углу */
.top-right-image {
    position: absolute;
    top: 8.5%; /* Отступ от верхней грани */
    right: 9%; /* Отступ от правой грани */
    z-index: 10; /* Чтобы изображение было поверх других элементов */
  }
  
  .top-right-image img {
    width: 150px; /* Размер изображения */
    height: 187px; /* Размер изображения */
  }

    /* Контейнер для информации о балансе */
.balance-info {
    margin-left: 75.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 9%; /* Отступ от текста "Ваш рахунок" */
    position: relative;
}

/* Маленькое изображение */
.small-image {
    width: 20px; /* Размер маленького изображения */
    height: 20px;
    object-fit: cover; /* Сохраняем пропорции изображения */
    margin-right: 5px; /* Отступ между изображением и текстом */
    z-index: 10;
}

/* Текст для цифры */
.balance-text {
    font-size: 25px; /* Размер числа */
    font-weight: bold; /* Толщина шрифта */
    color: #333; /* Цвет числа */
    font-family: 'Montserrat';
    z-index: 10;
    margin-left: 2%;
}

    /* Текст поверх изображения */
.overlay-text {
    position: absolute;
    top: 28%; /* Позиционируем текст по вертикали */
    left: 50%; /* Позиционируем текст по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем текст */
    color: #333; /* Белый цвет текста */
    font-size: 18px; /* Размер текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    text-align: center; /* Выравнивание текста по центру */
    font-weight: 500; /* Жирное начертание */
    width: 200px;
    font-size: 17px;
  }

.container2 {
    width: 500px;
    height: 1050px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -40%;
    margin-left: 53%;
    background-color: #ebebeb;
    margin-bottom: 10%;
    position: relative;
    top: 85%;
    border-radius: 5px;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}
.divider {
    width: 96%;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto 10px auto;
}
.text2 {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5%;
    font-family: 'Montserrat';
    font-weight: 600;
}

.row2 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 5px 10px;
    margin-top: 20px;
    font-family: 'Montserrat';
}
.input-container {
    margin: 5px 10px;
    width: 100%;
}

.amount-box {
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: 3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Montserrat';
}

.amount-box2 {
    font-size: 15px;
    background-color: white;
    font-weight: 500;
    width: 235px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: 3px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Montserrat';
}

.right2
{
    margin-left: 30%;
    position: relative;
    top: -99px;
    height: 2px;
}

.button2
{
    width: 140px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid #ffcf33;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 32%;
    cursor: pointer;
}

.button3
{
    width: 460px;
    height: 80px;
    background-color: #ffcf33;
    font-size: 20px;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

.button4
{
    width: 460px;
    height: 80px;
    background-color: #ebebeb;
    font-size: 20px;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
    border: none;
    border: 3px solid #ffcf33;
    margin-top: 5%;
    cursor: pointer;
}

.product-block {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 98%;
    margin-left: -20px;
}

.product-image img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    background-color: #f5f5f5;
}

.product-info {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    width: 100%;
    font-family: 'Montserrat';
    margin-top: -10%;
}

.product-name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    font-family: 'Montserrat';
    width: 260px;
}

.product-quantity {
    font-size: 14px;
    width: 80px;
    position: relative;
    left:15px;
}

.product-price 
{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    width: 190px;
    position: relative;
    left: 10px;
}

.product-colour {
    display: flex;
    align-items: center;
    margin-top: 5px;
    position: relative;
    left: -100%;
}

.colour-label {
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.colour-label2 {
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
    font-family: 'Montserrat';
    position: relative;
    left: 20px;
    width: 56px;
}


.colour-box {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.article
{
    display: flex;
    align-items: center;
    margin-top: 5px;
    position: relative;
    left: -117.5%;
    top: 28%;
}

.article2
{
    font-size: 16px;
    margin-right: 10px;
    font-weight: 400;
    font-family: 'Montserrat';
    width: 200px;
}


.article3
{
    font-size: 16px;
    margin-right: 10px;
    font-weight: 400;
    font-family: 'Montserrat';
    width: 200px;
    right: 85px;
    position: relative;
}

.letter
{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    left: 20px;
}

