.container 
{
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

header 
{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  margin-top: -20px;
}

@media(max-width: 1100px)
{
  .newPass
  {
    top: 10px;
    margin-bottom: 30px;
  }
}

@media(max-width:1060px)
{
  p.newPass
  {
    padding-top:10px;
  }
}

mat-form-field {
  width: 300px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: bold;
}

.logo2
  {
    vertical-align: middle;
    text-align: center;
    margin: auto;
    width: 50px;
    height: 50px;
  }

@media(max-width:980px)
{
  p.newPass
  {
    left: -20px;
    width: 300px;  
  }

  h2
  {
    left: -15px;
  }

  button
  {
    left: -20px;
  }
}

.language-switcher
{
  position: relative;
  left: -70px;
}

.newPass
{
  position: relative;
  margin-top: 40%;
  margin-left: 58px;
  font-family: 'Montserrat';
  font-weight: 500; 
  width: 300px; 
  text-align: center;
}

button#returnToMainPage
{
  position: relative; 
  margin-left: 66px; 
  width: 280px;
  font-family: 'Montserrat';
}

@media(max-width: 580px)
{
  button#returnToMainPage
  {
    left: -30px;
  }

  .newPass
  {
    margin-left: 70px;
  }

   .logo2
   {
      display: none;
   }

   .language-switcher
   {
    display: none;
   }

   header 
   {
     justify-content: left;
     padding: 20px;
     margin-top: -30px;
     margin-left: 120px;
   }

   h2
   {
    left: -45px;
   }

   p
   {
    left: -30px;
   }

   p.newPass
   {
    left: -45px;
   }

   button
   {
    left: -45px;
   }
}

@media(max-width: 530px)
{
  header 
   {
     justify-content: left;
     padding: 20px;
     margin-top: -30px;
     margin-left: 95px;
   }
}

.logo 
{
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 50px;
  height: 50px;
}

.text
{
  margin-top: 20px;
  width: 80px;
  height: 106px;
}

#checkbox
{
  transform: scale(1.3);
  opacity: 0,9;
  cursor: pointer;
}

.registration-form 
{
  display: flex;
  margin: 50px auto;
  width: 80%;
  max-width: 900px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 670px;
}

.left-panel 
{
  background-image: url('/assets/images/bg-pattern.png');
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.left-panel img 
{
  width: 100%;
  height: auto;
}

.right-panel 
{
  flex: 1;
  background-color: #fff;
  padding: 40px;
}

h2 
{
  color: #2C7D59;
  margin-bottom: 20px;
}

.form-group 
{
  margin-bottom: 20px;
}

form input[type="email"],
form input[type="password"] 
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input[type="checkbox"] 
{
  margin-right: 10px;
}

button 
{
  background-color: #2C7D59;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover 
{
  background-color: #246944;
}

a 
{
  color: #2C7D59;
  text-decoration: none;
}

.seedFlowNazva
{
  font-size: 30px; 
  color: #66D6AA; 
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
  font-family: 'Montserrat Alternates';
}

h2#yspix
{
  position: relative; 
  top:25%;
  margin-bottom: 60px; 
  margin-left: 150px;
  font-family: 'Montserrat' 
}


@media(max-width: 700px)
{
  .logo
  {
    margin-left: -110px;
  }
}

@media(max-width: 600px)
{
  .logo
  {
    margin-left: -70px;
    margin-top: 10px;
  }

  .seedFlowNazva
  {
    margin-top: 15px;
  }

  .language-switcher
  {
    display: block;
    margin-top: 10px;
    margin-left: 300px;
  }

  .logo2
  {
    display: block;
    position: absolute;
    margin-left: -50px;
    top: -15px;
  }
}

@media(max-width: 580px)
{
  h2#yspix
  {
    left: -30px;
  }

  .logo2
  {
    top: -15px;
  }

  .language-switcher
  {
    left: -10px;
  }

  .right-panel
  {
    margin-left: 10px;
  }
}
